*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --tob-:black;
    --tob-:white;
    --tob-mobile:orange;
    --tob-website:pink;
    --tob-editorial: rgb(12, 156, 240);
    --tob-sales: rgb(188, 231, 188);
    --tob-goals: rgb(240, 37, 240);
    --tob-recruiting: rgb(9, 241, 21);
    --tob-cross-color: red;
    --tob-checkmark-color:green;
}


body{
    background-color: rgb(202, 202, 202);
}

.container{
    width: 80%;
}

#app_header{
    background-color: white;
    
}

.logo_text{
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}

.logo_img{
    vertical-align: middle;
}

.card_container{
    background-color:white;
    width: 45%;
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
    margin-top: 30px;
}

