*{
    margin: 0;

}

:root{
    --tob-:black;
    --tob-:white;
    --tob-mobile:orange;
    --tob-website:pink;
    --tob-editorial: rgb(12, 156, 240);
    --tob-sales: rgb(188, 231, 188);
    --tob-goals: rgb(240, 37, 240);
    --tob-recruiting: rgb(9, 241, 21);
    --tob-cross-color: red;
    --tob-checkmark-color:green;
}


body{
    background-color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container{
    width: 85%;
    margin: auto;
    background-image: url(../img/backgrounf.jpg);
}

#app_header{
    background-color: white;
    
}

.logo_text{
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}

.logo_img{
    vertical-align: middle;
    padding-left: 10px;
}

.card_container{
    background-color:white;
    width: 40%;
    padding-left: 70px;
    padding-right: 70px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 15px;
    background-image: url(../img/4672.jpg);
    
}

.bt_task{
    background-color: var(--tob-editorial);
    color: aliceblue;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border-color: white;

}

.bt_section{
    color: gray;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border-color: white;

}

.card_header{
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom:3px solid coral;
    

}

.card_body{
    padding-top: 15px;
}




.badge_edit{
    background-color: var(--tob-editorial);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.badge_goals{
    background-color: var(--tob-goals);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.badge_recruiting{
    background-color: var(--tob-recruiting);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.badge_mobile{
    background-color: var(--tob-mobile);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.no_liststyle{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.li_list{
    padding-top: 10px;
    padding-bottom: 10px;
}


.icon_mark{
    font-size: 0.8rem;
    display: inline-block;
    border: 1px solid green;
    width: 1.15rem;
    height: 1.15rem;
    text-align: center;
    line-height: 1.15rem;
    border-radius: 50%;
    color: green;
}

.icon_cross{
    font-size: 0.8rem;
    display: inline-block;
    border: 1px solid red;
    width: 1.15rem;
    height: 1.15rem;
    text-align: center;
    line-height: 1.15rem;
    border-radius: 50%;
    color: red;
}